/* Train Scheduler - style.css*/
html {
  margin: 10px;
  min-height: 100%;
  background-color: #e6ecff;
}

body {
  background-color: #e6ecff;
  margin: 10px;
}

h1 {
  margin-top: -30px;
}

.top_row {
  background-color: #077abc;
}

.jumbotron {
  background-color: #884225;
  color: white;
  height: 12vw;
}

table {
  outline-width: 1px;
  border: #077abc solid 1px;
  margin-bottom: 0;
}

#addTrain {
  background-color: #077abc;
  color: white;
}

form {
  outline-style: solid;
  outline-color: #077abc;
  outline-width: 1px;
}

label,
.text-muted,
.form-check-input,
button,
input {
  margin-left: 1px;
}

button {
  margin-bottom: 10px;
}

/*th {
  border-bottom: 0;
}*/

/*An incorrect input:*/
input:invalid {
  color: red;
}
/*An correct input:*/
input:valid {
  color: green;
}
/*A mandatory field:*/
input[required] {
  background-color: #cad3f1;
}

.selected {
  background-color: #879ef3;
}

td,
th {
  cursor: pointer;
}
